<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    {% css_asset_tag global %}
    - /_assets/css/syntax.scss
    - /_assets/css/theme.scss
    {% endcss_asset_tag %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img alt="&lt; NH /&gt;" src="/images/header-logo.png"></a>
        </div>
      </div>
    </div>

    {{ content }}

    <footer>
      <div class="container">
        <div class="row bottom-nav">

          <div class="col-sm-8">
            <h3>Recent News and Events</h3>
            <ul class="posts">
            {% for post in site.posts %}
              <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
          </div>

          <div class="col-sm-4">
            <h3>Documents</h3>
            <ul class="posts">
              <li><i class="fa fa-file-text"></i> <a href="/docs/code-of-conduct.html">Code of Conduct</a></li>
              <li><i class="fa fa-file-text"></i> 2016 Strategic Plan (coming soon)</li>
              <li><i class="fa fa-file-text"></i> <a href="/docs/team-partners.html">Team and Partnerships</a> (work in progress)</li>
            </ul>
          </div>
        </div>

        <p>Photo of the New Hampshire State House in Concord <i class="fa fa-creative-commons"></i> by <a href="https://www.flickr.com/photos/21953562@N07/13942000383/">cmh2315fl on Flickr</a>.</p>

        <p><img src="/images/footer-logo.png"></p>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71305920-1', 'auto');
  ga('send', 'pageview');

    </script>
  </body>
</html>

